@charset "UTF-8";
/*Contenedor flexible*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
}

.col-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-3 {
  width: 25%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-6 {
  width: 50%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-9 {
  width: 75%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.col-12 {
  width: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
  text-align: center;
}

/*Configuracion general de img*/
/*Configuración para aplicar neumorfismo*/
/* From Uiverse.io by adamgiebl */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  font-size: 1.3em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}

@media (max-width: 425px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  li a {
    font-size: 0.7em;
  }
}
.nav {
  width: 100%;
  background-color: rgba(31, 30, 30, 0.0941176471);
  backdrop-filter: blur(2px);
}

.icon img {
  width: 40px;
}

.lista {
  width: 95%;
  justify-content: space-between;
}

.enlaces {
  color: rgb(255, 255, 255);
}

.resumen {
  margin-top: 6em;
  padding-left: 4em;
}

.title {
  align-items: center;
  position: relative;
  padding: 1.5em;
  color: rgb(255, 255, 255);
}

.intro {
  margin-top: 10em;
  max-width: 400px;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    margin-top: 16em;
  }
  .resumen {
    margin-top: 17em;
    padding-left: 1.3em;
  }
  h2 {
    font-size: 1.5em;
  }
  .intro {
    display: none;
  }
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  .menu {
    margin-top: 11.5em;
  }
  li a {
    font-size: 0.7em;
  }
  .resumen {
    display: none;
  }
}
.fondo {
  background-image: linear-gradient(to right, rgba(12, 12, 12, 0.901), rgba(8, 8, 8, 0.077)), url(https://res.cloudinary.com/dufyko66u/image/upload/c_fill,ar_16:9,g_auto/v1763586056/horizontal_adt4r1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
  gap: 0em;
  padding: 0em;
  width: 100%;
  margin-bottom: 1em;
}

.foto_titulo {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 20px;
}

.contenedor_fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 0;
  padding: 0;
  width: 95%;
  margin-bottom: 1em;
}

.Carousel {
  width: 100%;
  margin: 0px 60px;
}

.Carousel h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */
.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.slick {
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.slick h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}

.slick h4 small {
  font-size: 15px;
  display: block;
}

.slick a img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.slick a img:hover {
  opacity: 0.85;
}

/* buttons */
.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
}

.slick-arrow:focus {
  outline: 0;
}

.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 0;
  padding: 0;
  width: 95%;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  gap: 0;
  padding: 0;
  border-radius: 15px;
  background-color: rgba(237, 203, 82, 0.173);
  height: 300px;
  width: 100%;
}

.more-reviews a {
  font-size: 1.4em;
}

.button_neo {
  color: #090909;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button_neo:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.review_google {
  display: none;
}

.review-card {
  width: 230px;
  height: 250px;
  margin: 0.3em;
  overflow-y: scroll;
  padding: 0.5em;
  border-color: rgb(81, 83, 83);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  gap: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .foto_titulo {
    font-size: 2em;
  }
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  .foto_titulo {
    font-size: 1.5em;
    letter-spacing: 6px;
  }
  .reviews,
  .more-reviews {
    display: none;
  }
  .review_google {
    display: block;
    margin-bottom: 1em;
  }
  .oculto {
    display: none;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
}
.historia_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 0em;
  padding: 0em;
}

.historia_titulo {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 20px;
}

.historia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  gap: 0em;
  padding: 0em;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 1em;
  background-color: rgba(222, 201, 66, 0.5);
}

.histo_flex {
  align-items: center;
}

.historia_texto {
  font-size: 1em;
  padding-left: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: justify;
}

.historia_subtitulo {
  font-weight: 500;
}

.historia_img {
  padding-right: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: fit-content;
  height: 320px;
}

.historia_img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.btn_histo {
  background-color: rgba(222, 201, 66, 0.849);
  width: 25px;
  height: 50px;
  margin: 1.5em;
  opacity: 1;
  margin-top: 10%;
}

@media (max-width: 768px) {
  .historia {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .historia_titulo {
    font-size: 2em;
  }
  .historia_texto {
    width: 49%;
    padding: 0.5em;
    height: 300px;
    font-size: 1em;
    padding-left: 1em;
    overflow-y: scroll;
  }
  .historia_img {
    width: 35%;
  }
  .btn_histo {
    margin-top: 17%;
  }
  .contenedor {
    flex-direction: column;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .historia {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .histo_flex {
    flex-direction: column;
  }
  .historia_titulo {
    font-size: 1.5em;
    letter-spacing: 10px;
  }
  .historia_texto {
    padding: 0.5em;
    width: initial;
  }
  .historia_img {
    padding: 1em;
    width: initial;
  }
  .contenedor {
    flex-direction: column;
    margin: 0;
  }
  .btn_histo {
    margin-top: 100%;
  }
}
@media (max-width: 320px) {
  .btn_histo {
    margin-top: 135%;
  }
}

/*# sourceMappingURL=style.css.map */
