//Variables

$primary-color: #3498db;
$secondary-color: #2ecc71;
$tertiary-color: #8b008b;

//Typography
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
$font-secondary: rgb(21, 79, 46);
$font-size-base: 10px;
