@use "../utilities/utilities" as utils;

.fondo {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.901),
      rgba(8, 8, 8, 0.077)
    ),
    url(https://res.cloudinary.com/dufyko66u/image/upload/c_fill,ar_16:9,g_auto/v1763586056/horizontal_adt4r1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.contenedor {
  @include utils.d_flex(flex, column, center, center, 1.2em, 0em, 0em);
  width: 100%;
  margin-bottom: 1em;
}


.redes {
  @include utils.d_flex(flex, row, space-evenly, center, 2em);
}


@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
 
  .oculto {
    display: none;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
}
