@use "../utilities/utilities" as utils;

.fondo {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.901),
      rgba(8, 8, 8, 0.077)
    ),
    url(https://res.cloudinary.com/dufyko66u/image/upload/c_fill,ar_16:9,g_auto/v1763586056/horizontal_adt4r1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.contenedor {
  @include utils.d_flex(flex, column, center, center, 1.2em, 0em, 0em);
  width: 100%;
  margin-bottom: 1em;
}



.reviews-container {
  @include utils.d_flex(flex, column, center, center, 1em);
  width: 95%;
}
.reviews {
  @include utils.d_flex(flex, row, space-evenly, center, 0);
  border-radius: 15px;
  background-color: rgba(237, 203, 82, 0.173);
  height: 300px;
  width: 100%;
}

.more-reviews a {
  font-size: 1.4em;
}
.button_neo {
  color: #090909;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button_neo:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.review_google {
  display: none;
}
.review-card {
  width: 230px;
  height: 250px;
  margin: 0.3em;
  overflow-y: scroll;
  padding: 0.5em;
  border-color: rgb(81, 83, 83);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

.redes {
  @include utils.d_flex(flex, row, space-evenly, center, 2em);
}


@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }


  .reviews,
  .more-reviews {
    display: none;
  }
  .review_google {
    display: block;
    margin-bottom: 1em;
  }
  .oculto {
    display: none;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9 {
    width: 100%;
  }
}
