@use "../utilities/utilities" as utils;

.fondo {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.901),
      rgba(8, 8, 8, 0.077)
    ),
    url(https://res.cloudinary.com/dufyko66u/image/upload/c_fill,ar_16:9,g_auto/v1763586056/horizontal_adt4r1.jpg);
  background-size: cover;
  /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  height: 100vh;
}
.icon img {
  width: 40px;
}
nav {
  font-size: 1.7em;
}
.lista {
  width: 95%;
  justify-content: space-between;
}
.enlaces {
  color: rgb(255, 255, 255);
}
.resumen {
  margin-top: 12em;
}
.title {
  align-items: center;
  position: relative;
  padding-left: 7.5em;
  padding-top: 1em;
  color: white;
}
.intro {
  margin-top: 1em;
  max-width: 400px;
}
.ficha li {
  font-size: 1.2em;
}
.contenedor {
  @include utils.d_flex(flex, column, center, center, 1.2em, 0em, 0em);
  width: 100%;
  margin-bottom: 1em;
}
.historia_container {
  @include utils.d_flex(flex, column, center, center, 1em, 0em, 0em);
}
.historia_titulo , .foto_titulo {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 20px;
}
.historia {
  @include utils.d_flex(flex, row, center, center, 0.5em, 0em, 0em);
  background: rgba(0, 0, 0, 0.047);
  border-radius: 15px;
  width: 95%;
  margin-bottom: 1em;
}
.historia_texto {
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.historia_img {
  padding: 4em;
}
.historia_img img {
  width: 100%;
}
.contenedor_fotos {
  @include utils.d_flex(flex, column, center, center, 1em);
  width: 95%;
}


.Carousel {
  width: 100%;
  margin: 0px 60px;
}
.Carousel h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */

.slick-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.slick {
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small {
  font-size: 15px;
  display: block;
}
.slick a img {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.slick a img:hover {
  opacity: 0.85;
}

/* buttons */

.slick-arrow {
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus {
  outline: 0;
}
.slick-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}

.reviews-container {
  @include utils.d_flex(flex, column, center, center, 1em);
  width: 95%;
  border-radius: 15px;
  background-color: rgba(230, 220, 220, 0.322);
}
.reviews {
  @include utils.d_flex(flex, row, space-evenly, center, 0);
}
.more-reviews a {
  font-size: 1.4em;
  color: rgb(33, 26, 132);
}
.review_google{
  display: none;
}
.review-card {
  width: 240px;
  height: 250px;
  margin: 0.5em;
  overflow-y: scroll;
  padding: 0.5em;
  border-color: rgb(81, 83, 83);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}


.redes{
    @include utils.d_flex(flex, row, space-evenly, center, 2em);
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  .btn_menu {
    width: 55px;
  }
  .resumen {
    margin-top: 1em;
  }
  .title {
    padding-left: 4em;
    padding-top: 13em;
    font-size: 0.5em;
  }
  .intro {
    display: none;
  }
  .historia {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .historia_titulo, .foto_titulo {
    font-size: 1.5em;
  }
  .foto_titulo{
    letter-spacing: 7px;
  }
  .historia_texto {
    padding: 0.5em;
    height: 300px;
    font-size: 1em;
    overflow-y: scroll;
  }
  .historia_img {
    padding: 1em;
  }
  .contenedor {
    flex-direction: column;
    margin: 0;
  }
  .historia_titulo{
    letter-spacing: 10px;
  }
  .reviews, .more-reviews {
    display: none;
  }
  .review_google{
    display: block;
    margin-bottom: 1em;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-8 {
    width: 100%;
  }
}
