@use "../utilities/utilities" as utils;

.fondo {
  background-image: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.901),
      rgba(8, 8, 8, 0.077)
    ),
    url(https://res.cloudinary.com/dufyko66u/image/upload/c_fill,ar_16:9,g_auto/v1763586056/horizontal_adt4r1.jpg);
  background-size: cover;
  /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  height: 100vh;
}
.icon img {
  width: 40px;
}
nav {
  font-size: 1.7em;
}
.lista {
  width: 95%;
  justify-content: space-between;
}
.enlaces {
  color: rgb(255, 255, 255);
}
.resumen {
  margin-top: 12em;
}
.title {
  align-items: center;
  position: relative;
  padding-left: 7.5em;
  padding-top: 1em;
  color: white;
}
.intro {
  margin-top: 1em;
  max-width: 400px;
}
.ficha li {
  font-size: 1.2em;
}
.contenedor {
  @include utils.d_flex(flex, column, center, center, 1.2em, 0em, 0em);
  width: 100%;
  margin-bottom: 1em;
  
}
.historia_container{
   @include utils.d_flex(flex, column, center, center, 1em, 0em, 0em);
}
.historia_titulo {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 20px;
}
.historia{
  @include utils.d_flex(flex, row, center, center, 0.5em, 0em, 0em);
  background: rgba(0, 0, 0, 0.047);
  border-radius: 15px;
  width: 95%;
  margin-bottom: 1em;
}
.historia_texto  {
  font-size: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.historia_img{
  padding: 4em;
}
.historia_img img{
  width: 100%;}
  
.reviews-container {
  @include utils.d_flex(flex, column, center, center, wrap, 0);
  width: 100%;
  background-color: rgba(230, 220, 220, 0.322);
}
.reviews{
    @include utils.d_flex(flex, row, space-evenly, center, wrap, 0);
}
.more-reviews{
  background-color: rgb(173, 148, 137);

}
.review-card {
  width: 250px;
  height: 250px;
  margin: 0.5em;
  overflow-y: scroll;
  padding: 0.5em;
  border-color: darkslategrey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  .btn_menu{
    width: 55px;
  }
  .resumen {
    margin-top: 1em;
  }
  .title {
    padding-left: 1em;
    padding-top: 8em;
    font-size: 0.5em;
  }
  .intro {
    display: none;
  }
  .historia{
    flex-direction: column;
    padding: 0 ;
    margin: 0;;
  }
  .historia_titulo {
    font-size: 1.5em;
  }
  .historia_texto {
    padding:0.5em;
    height: 300px;
    overflow-y: scroll;
  }
  .historia_img{
    padding: 1em;
  }
  .contenedor {
    flex-direction: column;
    margin: 0;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6, .col-8 {
    width: 100%;
  }
}
