@use "../utilities/utilities" as utils;

.nav {
  width: 100%;
@include utils.blur(#1f1e1e18, blur(2px));
}
.icon img {
  width: 40px;
}
.lista {
  width: 95%;
  justify-content: space-between;
}
.enlaces {
  color: rgb(255, 255, 255);
}

.resumen {
  margin-top: 6em;
  padding-left: 3em;
  

}
.title {
  align-items: center;
  position: relative;
  padding: 1.5em;
  color: rgb(255, 255, 255);
}
.intro {
  margin-top: 10em;
  max-width: 400px;
}

@media (max-width: 768px) {
  .nav {
  width: 100%;
@include utils.blur(#1f1e1e18, blur(0px));
}
  .menu {
    position: fixed;
    margin-top: 16em;
  }
  .resumen {
    display: none;
  }
  
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  .menu {
    margin-top: 11.5em;
  }
  li a {
    font-size: 0.7em;
  }
 
}
