nav {
  font-size: 1.3em;
}
.icon img {
  width: 40px;
}
.lista {
  width: 95%;
  justify-content: space-between;
}
.enlaces {
  color: rgb(255, 255, 255);
}

.resumen {
  margin-top: 6em;
  padding-left: 4em;
}
.title {
  align-items: center;
  position: relative;
  padding-top: 1em;
  color: rgb(255, 255, 255);
}
.intro {
  margin-top: 10em;
  max-width: 400px;
}

@media (max-width: 768px) {
  .resumen {
    margin-top: 10em;
    padding-left: 1.3em;
  }
  h2 {
    font-size: 1.5em;
  }
  .intro {
    display: none;
  }
}
@media (max-width: 425px) {
  .fondo {
    height: 50vh;
    width: 100vw;
  }
  li a {
    font-size: 0.7em;
  }
  .resumen {
    display: none;
  }
}
